.yellow{
    margin-top: 200px;
    &__content{
        background: #FFCA3A;
        padding-top: 110px;
        padding-bottom: 114px;
    }
    &__title{
        
        margin-bottom: 14px;
    }
    &__suptitle{
        @include font("Roboto", 400, 15, #3D5675);
        margin-bottom: 10px;
        max-width: 310px;
        text-align: center;
    }
    &__box{
        position: relative;
        display: flex;
        justify-content: space-around;
        text-align: center;

    }
    &__vl {
        border-left: 1px solid #A1A1A1;
        height: 400px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 0;
    }
}